:root{
  --main-bg-color: rgba(255,164,0,1.00);
}
*,
*::after,
*::before{
	box-sizing: border-box;
}
html{
  font-size: .625em;
  font-size: calc(1em * .625);
  background: #d9d9d9;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font: normal 300 1.4em / 1.2 'Open-sans', helvetica, sans-serif;
  color: #111;
}
a{
  text-decoration: none;
  color: #111;
  cursor: pointer;
}
ol,
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
}
b,
strong{
  font-weight: 600;
}
hr{
  background: #111;
  box-shadow: none;
  border: none;
  height: 1px;
  width: 100%;
  margin: 10px 0;
}
::selection{
  background: var(--main-bg-color);
  color: #fff;
}
::-moz-selection{
  background: var(--main-bg-color);
  color: #fff;
}

.container{
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.wrapper{
	padding-bottom: 40px;
}
.suojin {
	padding-left: 8%;
	padding-right: 8%;
}
.fenleidise {
	background-color: rgba(255,255,255,1.00);
}
.card{
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  transition: box-shadow .2s ease-in-out;
}
.card a{
  background: url(images/loading.gif) center center no-repeat;
  float:left
}
.card img{
  border: 0;
  filter: alpha(opacity:0);
  opacity: 0;
}
.card__picture{
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.card__qrimg{
  float: right;
  width: 80px;
  height: 80px;
}
.card-infos{
  padding: 20px;
  background: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.card__title{
  font-family: 'Hind';
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 0 0 10px;
}
.card__text{
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 150%;
  margin: 0;
  color: #86888A;
}
.card__text--high{
  font-weight: 600;
}
.card__buy {
	float: left;
	border-radius: 5px;
	border: 1.5px solid rgba(255,164,0,1.00);
	padding: 5px 30px;
	margin-top: 6px;
	color: rgba(255,164,0,1.00);
	text-decoration: none;
}
.card__buy:hover {
	color: rgba(250,250,250,1.00);
	background-color: rgba(255,164,0,1.00);
}
.header{
  background: var(--main-bg-color);
  height: 160px;
  display: flex;
}
.header__title{
  margin: auto;
  font-weight: 300;
  font-size: 3.2rem;
  color: #fff;
}
.header__title--high{
  font-weight: 600;
}

.sortable__nav{
	top: 0;
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,0.97);
	z-index: 1;
	width: 100%;
	padding-bottom: 15px;
}
.nav__link{
  padding: 0 20px 4px;
  color: #000000;
  font-size: 1.4rem;
  font-weight: 300;
  display: block;
  border-bottom: 2px solid transparent;
  margin: 20px 0 5px;
}
.nav__link.is-active{
	border-color: var(--main-bg-color);
}

.footer__list.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list__item.item{
  display: flex;
}
.item__link.link{
  margin: 0;
}
.item__link.link:not(:first-child){
  margin-left: 20px;
}
.link__icon{
  height: 2rem;
  width: 2rem;
}

/* 加载样式 */
.refreshWrap .refresh{position: absolute;left: 0;top: 0;width: 100%;height:60px;line-height: 60px;text-align: center;}
.refreshWrap .loadingBox{width: 100%;height:40px;text-align: center;padding: 10px;position: relative;background-color: #fff;z-index: 2}
.refreshWrap .loading,.refreshWrap .loadTxt{vertical-align: middle;display: inline-block;}
.refreshWrap .loading{border-radius: 50%;width: 16px;height: 16px;border: 1px solid #666;border-top-color: transparent;margin-right: 8px;transform: translateZ(0);position: relative;}
.refreshWrap .noMore .loading{display:none;}
.refreshWrap .success{border-color: transparent;}
.refreshWrap .success:before{content:"";border:1px solid #666;border-top-color: transparent;border-left-color:transparent;position: absolute;left: 0;bottom: 0;width: 8px;height: 16px;}
.refreshWrap .rotate {
    -webkit-animation: refresh-rotate 0.6s linear infinite;
    animation: refresh-rotate 0.6s linear infinite;
}
@keyframes refresh-rotate {
    0% {
        transform: rotateZ(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotateZ(360deg);
        -moz-transform: rotate(360deg);
    }
}


/*悬浮链接*/
.suspension{position:fixed;z-index:55;right:0;bottom:72px;width:84px;height:144px;}
.suspension-box{position:relative;float:right;}
.suspension .a{display:block;width:44px;height:44px;background-color:#353535;margin-bottom:4px;cursor:pointer;outline:none;}
.suspension .a.active,
.suspension .a:hover{
	background: rgba(255,164,0,1.00);
}
.suspension .a .i{float:left;width:44px;height:44px;background-image:url(../images/side_icon.png);background-repeat:no-repeat;}
/* .suspension .a-service .i{background-position:0 0;} */
.suspension .a-service .i{
	width: 20px;
	height: 20px;
	margin-top: 12px;
	margin-left: 12px;
	background-image: url(../images/suspension-bg.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.suspension .a-service-phone .i{width:20px;height:20px;margin-top:12px;margin-left:12px;background-image:url(../images/suspension-bg.png);background-repeat:no-repeat;background-position:-27px 0;}
.suspension .a-qrcode .i{background-position:-44px 0;}
.suspension .a-cart .i{background-position:-88px 0;}
.suspension .a-top .i{background-position:-132px 0;}
.suspension .a-top{background:#D2D3D6;display:none;}
.suspension .a-top:hover{background:#c0c1c3;}
.suspension .d{display:none;width:130px;background:#fff;position:absolute;right:67px;min-height:90px;border:1px solid #E0E1E5;border-radius:3px;box-shadow:0px 2px 5px 0px rgba(161, 163, 175, 0.11);}
.suspension .d .arrow{
	position: absolute;
	width: 8px;
	height: 12px;
	right: -8px;
}
.suspension .d-service{top:-11px;}
.suspension .d-service-phone{top:34px;}
.suspension .d-qrcode{top:34px;}
.suspension .d .inner-box{padding:6px 43px 0;text-align:center;}
.suspension .d-service-item{border-bottom:1px solid #eee;padding:14px 0;}
.suspension .d-service .d-service-item{border-bottom:none;}
.suspension .d-service-item .circle{width:44px;height:44px;border-radius:50%;overflow:hidden;background:#F1F1F3;display:block;float:left;}
.suspension .d-service-item .i-qq{width:44px;height:44px;background:url(../images/side_con_icon03.png) no-repeat center 15px;display:block;transition:all .2s;border-radius:50%;overflow:hidden;}
.suspension .d-service-item:hover .i-qq{background-position:center 3px;}
.suspension .d-service-item .i-tel{width:44px;height:44px;background:url(../images/side_con_icon02.png) no-repeat center center;display:block;}
.suspension .d-service-item p{float:left;width:130px;line-height:14px;font-size:15px;margin-left:-44px;}
.suspension .d-service-item .text{float:left;width:112px;line-height:14px;font-size:15px;margin-left:12px;}
.suspension .d-service-item .text .number{font-family:Arial,"Microsoft Yahei","HanHei SC",PingHei,"PingFang SC","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;}
.suspension .d-service-intro{padding-top:10px;}
.suspension .d-service-intro p{float:left;line-height:27px;font-size:15px;width:50%;white-space:nowrap;color:#888;}
.suspension .d-service-intro i{background:url(../images/side_con_icon01.png) no-repeat center center;height:27px;width:14px;margin-right:5px;vertical-align:top;display:inline-block;}
.suspension .d-qrcode{text-align:center;}
.suspension .d-qrcode .inner-box{
	padding: 15px;
}
.suspension .d-qrcode p{font-size:15px;color:#93959c;}
